// colors
$accentColor = #3683d6
$textColor = #45526b
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
// layout
$navbarHeight = 4.5rem
$sidebarWidth = 250px
$contentWidth = 740px
// responsive breakpoints
$MQNarrow = 1060px
$MQMobile = 920px
$MQMobileNarrow = 419px
// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
@import '~@temp/override.styl'
